<p style="text-align: center;">
    <a href="https://github.com/moay/loxberry-poppins-base-plugin" target="_blank" style="border:none;">
        <img src="{{ assetUrl('img/builtwithpoppins.png') }}" alt="Built with poppins">
    </a>
</p>
